@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552732814549'); /* IE9 */
  src: url('iconfont.eot?t=1552732814549#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABmAAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApsgQcBNgIkAwgLBgAEIAWEbQcvG6wFyC6wbdgTSHbHsWGA0msXDMLMEEG1lj23+/8hVogynjWgkFEsIyRQeVSOZcpHODTiBtfa/lFtOsxeGya+nfhuh6g2QsJLp70kPEOjMJgbQLr3etnM+8S90z+BPsh8QDnuRWNNmtQF1MWBFOBeGEVWKnnD2AUv8DGBBv3ymFZqmrpAoMxeFYh9jhkHgYWILLN8nVBtOJjFLT91xVkRcBN9P/45IpBCJbGb1veqp0DZd6JTlFbLVUMBIQoEdLyChFlAJrYbM6t8BON8NGR8DQPHqg++E8sycIujOgT76+zaJtALlc+k8tSPmi/gsSbqB8xN+nFE/8Ktt7HnxtPjccVeuLvuXEVdrq4u909viPc9nhfFnaS2pdX5pJf2DYWM+smmyICantj2hqKGTOfiycrl/tOHrbm+ud6u+tzckVPNHygDUJaWABOCT8koHo0o+q9rzODr5XEUKsuG+YC6/XqD/6Ma2JcNje0qsqZqHC70n7elQQNKONDhfaq1+2YKoU73BF9NX4akziiZ2VlUNJpDVZ15NJhRe7xRJ8JH5HpM2wIIbR5RaPGMpM0rmdk3VPT4RVVb+KDBbsRc2Gg8uOBKgsYpmoITc5CbVGTsemhwXN+BGEMcJ3lNxPcgonNxaLfYyvlaJCOyxBZ9mnFQiiEmigRrwHNIFBWoEoVHk9TCUqoWWK246U2WSUUCwZYRyDgKmQJNmANxJilkOBhNBVc+3wFhGETjSEdPXbEHQui46SE7C9sAstYoD+p5lFd00xgOFIVBGKGQQDVgHiISKSC1eR4PmURZsBNSqgJWZxAearRsb5b+7hg0sG1FODOSyqmhGQgAAAAA') format('woff2'),
  url('iconfont.woff?t=1552732814549') format('woff'),
  url('iconfont.ttf?t=1552732814549') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552732814549#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuque:before {
  content: "\e71e";
}

